<h1>Create a Team of your Heros!</h1>
<form method="POST" action="/team">
  <h2>Enter these team details.</h2>
  <label for="team_name">Name: </label>
  <input type="text" name="team_name">
  <label for="team_motto">Name: </label>
  <input type="text" name="team_motto">

  <h1>Your Superheros</h1>
  <h2>Enter the Superheros on your team.</h2>
  <label for="hero_name">Name: </label>
  <input type="text" name="hero_name">
  <label for="hero_power">Name: </label>
  <input type="text" name="hero_power">
  <label for="hero_bio">Name: </label>
  <input type="text" name="hero_bio">
  
  <input type="submit" value="Submit">
</form>
